/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

button {
    margin: 2em;
    min-width: 90px;
    min-height: 30px;
    flex-basis: 100px;
    border-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 3px;
}

button:first-of-type {
    background-color: purple;
}

button:nth-of-type(2) {
    background-color: red;
}

button:last-of-type {
    background-color: hotpink;
}

